{% extends 'base.html' %}
{% load static %}

{% block title %}
  User info
{% endblock %}

{% block body %}
<style>body { background-image: url({% static 'images/bg_4.jpg' %}); }</style>
<section class="ftco-section">
  <div class="container">
    <h5>Hello {% firstof user user.first_name user.email user.username  %}!
        You are registered and have successfully logged in. </h5>
   <p>Use the administrative panel at the top of the screen for quick access
       to the functions of managing the structure and content of the site.</p>
    <h5>User info:</h5>
    <p>
      {% if user.profile.info %}
        {{ user.profile.info }}
      {% else %}
        <span>¯\_(ツ)_/¯</span>
      {% endif %}
    </p>
<br>
   {% if order %}
      <p>Your order has been successfully completed.</p>

    <h3>Order No.{{ order.id }}</h3>
    <table>
        <tr>
            <th>Created</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Customer </th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
        </tr>
        <tr>
            <th>Total Amount &nbsp;</th>
            <td class="text-primary">${{ order.get_total_cost }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{% if order.paid %}Paid{% else %}Pending payment{% endif %}</td>
        </tr>
    </table>
    <br>
    <div class="module">
        <div class="tabular inline-related last-related">
            <table class="table">
                Items bought
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.items.all %}
                    <tr class="row{% cycle "1" "2" %}">
                        <td>{{ item.product.name }}</td>
                        <td class="num">${{ item.price }}</td>
                        <td class="num">{{ item.quantity }}</td>
                        <td class="num">${{ item.get_cost }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-primary" >Total</td>
                    <td class="text-primary" class="num">${{ order.get_total_cost }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endif %}
    </section>
{% endblock %}
