{% extends 'base.html' %}
{% load static %}

{%  block title %}
  Home
{%  endblock %}

{% block body %}

    <section class="home-slider owl-carousel">
       <div class="slider-item" style="background-image: url({%  static 'images/fon-25.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center ">
                <span class="subheading">Special offer</span>
              <h2 class="mb-4">We give each new user a 10% discount on the first online order</h2>

            </div>
          </div>
        </div>
      </div>

      <div class="slider-item" style="background-image: url({%  static 'images/fon-43.jpg' %});">
      	<div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

            <div class="col-md-8 col-sm-12 text-center e">
                 <h2 class="mb-4">Coffee From All Over The World</h2>
              <p class="mb-4 mb-md-5">Get a new coffee experience</p>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
{#          	<span class="subheading">Discover</span>#}
            <h3 class="mb-4">Our Coffee Bestsellers</h3>
            <p>Cup so flavour as crema redeye cultivar, body medium single origin americano rich. Sugar medium, cinnamon lungo ristretto caffeine variety foam whipped.</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-3">
        		<div class="menu-entry">
    					<a href="#" class="img" style="background-image: url({%  static 'images/bag-99.jpg' %});"></a>
    					<div class="text text-center pt-4">
    						<h3><a href="#">Costa Rica</a></h3>
    						<p>Con panna fair trade seasonal arabica lungo cultivar lungo arabica </p>
    						<p class="price"><span>$25.90</span></p>
{#    						<p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>#}
    					</div>
    				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="menu-entry">
    					<a href="#" class="img" style="background-image: url({%  static 'images/bag-99.jpg' %});"></a>
    					<div class="text text-center pt-4">
    						<h3><a href="#">Brasilia</a></h3>
    						<p>Brewed aftertaste cream, sweet galão café au lait cup variety sweet</p>
    						<p class="price"><span>$25.90</span></p>
{#    						<p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>#}
    					</div>
    				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="menu-entry">
    					<a href="#" class="img" style="background-image: url({%  static 'images/bag-99.jpg' %});"></a>
    					<div class="text text-center pt-4">
    						<h3><a href="#">Ethiopia</a></h3>
    						<p>Skinny organic mug, arabica aromatic so carajillo beans instant</p>
    						<p class="price"><span>$25.90</span></p>
{#    						<p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>#}
    					</div>
    				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="menu-entry">
    					<a href="#" class="img" style="background-image: url({%  static 'images/bag-99.jpg' %});"></a>
    					<div class="text text-center pt-4">
    						<h3><a href="#">Columbia</a></h3>
    						<p>Java, coffee qui medium a aromatic java iced plunger pot black</p>
    						<p class="price"><span>$25.90</span></p>
{#    						<p><a href="#" class="btn btn-primary btn-outline-primary">Add to Cart</a></p>#}
    					</div>
    				</div>
        	</div>
        </div>
    	</div>
    </section>
   <br><br><br>
    <section class="ftco-about d-md-flex">
     	<div class="one-half img" style="background-image: url({%  static 'images/about-2.jpg' %});"></div>
    	<div class="one-half ftco-animate">
    		<div class="overlap">
	        <div class="heading-section ftco-animate ">
{#	        	<span class="subheading">Discover</span>#}
	          <h3 class="mb-4">About Us</h3>
	        </div>
	        <div><p>Spoon skinny, est mug as, sugar a foam sugar black plunger pot. Est extra  milk robust cortado aged grounds fair trade robusta. Half and half robust in extraction aged wings dripper. Froth foam aromatic cinnamon aftertaste acerbic flavour turkish espresso.</p>
                 <p>Aged bar , robusta iced mocha white shop redeye. Mug coffee et aromatic body barista mocha seasonal espresso et roast. Java, extraction dark caramelization roast, sit grinder mocha whipped decaffeinated. Irish robusta, and crema steamed white bar , body coffee caramelization body aroma.</p>
                 <p>Coffee cinnamon, arabica froth caffeine froth beans, carajillo single shot mazagran aftertaste irish. Java crema cup, at, mazagran cortado sugar medium aromatic cultivar siphon milk. Café au lait aromatic id, cappuccino macchiato caffeine brewed barista brewed ut lungo brewed. Irish macchiato wings coffee lungo at barista.</p>
	  			</div>
  			</div>
        </div>
    </section>

    <section class="ftco-section img" id="ftco-testimony" >
    	<div class="overlay"></div>

	      <div class="row justify-content-center mb-5">
	        <div class="col-md-7 heading-section text-center ">
{#	        	<span class="subheading">Reviews</span>#}
	          <h3 class="mb-4">Customers Reviews</h3>
{#	          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>#}
	        </div>
	      </div>
{#	    </div>#}
	    <div class="container-wrap">
	      <div class="row d-flex no-gutters">
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony">
	             <blockquote>
	                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small.&rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                   <img src="{%  static 'images/ironman.jpg' %}" alt="">
	                </div>
	                <div class="name align-self-center">Tony Stark <span class="position">Iron Man</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony overlay">
	             <blockquote>
	                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="{%  static 'images/ironman.jpg' %}" alt="">
	                </div>
	                <div class="name align-self-center">Tony Stark <span class="position">Iron Man</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony">
	             <blockquote>
	                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="{%  static 'images/ironman.jpg' %}" alt="">
	                </div>
	                <div class="name align-self-center">Tony Stark <span class="position">Iron Man</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony overlay">
	             <blockquote>
	                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.&rdquo;</p>
	              </blockquote>
	              <div class="author d-flex mt-4">
	                <div class="image mr-3 align-self-center">
	                  <img src="{%  static 'images/ironman.jpg' %}" alt="">
	                </div>
	                <div class="name align-self-center">Tony Stark <span class="position">Iron Man</span></div>
	              </div>
	          </div>
	        </div>
	        <div class="col-lg align-self-sm-end">
	          <div class="testimony">
	            <blockquote>
	              <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
	            </blockquote>
	            <div class="author d-flex mt-4">
	              <div class="image mr-3 align-self-center">
	                 <img src="{%  static 'images/ironman.jpg' %}" alt="">
	                </div>
	                <div class="name align-self-center">Tony Stark <span class="position">Iron Man</span></div>
	            </div>
	          </div>
	        </div>
	      </div>
        </div>
	  </section>


<div class="ftco-footer ftco-section img">
      <div class="container">
      <div class="col col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">178 Mitchell Rue, Simpsonburgh, Vickyborough, UK</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">02061077728</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
              </ul>
            </div>
        </div>
        <div>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
</div>

{% endblock %}